<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'shared/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <%= render 'shared/header' %>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'shared/footer' %>
    </div>

  </body>
</html>

